body{
  background-color: var(--text-oncolor-default);
}

.main-home-area{
  width: 75%;

  min-height: 100vh;
  background-color: var(--text-oncolor-default);

  &__wrapper{
    margin: 8% 0 0 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    gap: 60px;
  }

  &__section{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__section-title{
    font: var(--text-header-default);
    color: var(--text-default);
  }

  &__section-title-wrapper{
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  &__activity-area{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.home-page{
  display: flex;
  flex-direction: row;
}