.button{
  border: none;
  border-radius: 0;

  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;

  font: var(--text-text-default);
  color: var(--text-oncolor-default);

  &_gradient{
    border-radius: 10px;
    background: var(--buttons, linear-gradient(180deg, #6670E3 0%, #828CF4 100%));

    position: relative;
    display: inline-block;
    color: var(--text-buttons);

    padding: 10px 35px;
    text-align: center;

    // transition: all 5s linear 0s;

  & span{
    position: relative;
    z-index: 1;
  }

    &::before{
      content: "";
      display: block;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--buttons-2, linear-gradient(110deg, #F6B091 0%, #E87490 100%));
      transition: opacity 0.3s ease-in-out;
      border-radius: 10px;
    }

    &:hover::before{
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
  }
}